.container {
	background: url(../src/img/image-main.png) no-repeat center center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 961px;
	color:aquamarine
}

.statusTrue {
	background-color: yellow;
}

.statusFalse {
	background-color: green;
}

.clientElement.css-1p823my-MuiListItem-root {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.list {
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

.row {
	display: flex;
   align-self: center;
}

.container_for_events {
	display: flex;
	align-items: center;
	justify-content: center;
}

.valley-p,
.mens-health-p,
.mental-health-p {
	font-size: 12px;
	font-weight: bold;
}

.mens-health {
	margin: 0 20px;
}